/*input file style*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #DF474B;
    display: inline-block;
    cursor: pointer;
    padding:10px;
}
/*
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #DF474B;
}*/