.uk-input
{
    margin-bottom:5px;
}

.part1{
    width:100%;
    height:auto;
    /*text-align: center;
    margin: 0px auto;*/
}

.uk-button
{
    margin-top:8px;
}


.ad
{
    width: 100%;
    height:300px;
}