.advancedArea
{
    width:100%;
    height:auto;
    display:none;
    margin-bottom:40px;
    padding:15px;
}

.pagination
{
    margin:0px auto;
    text-align: center;
    padding-top:40px;
    /*float:left;*/
    /*clear:both;*/
}

.pagination li
{
    list-style: none;
    float:left;
    padding-left:15px;
} 