/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin-top:10px;
  margin-bottom: 10px;
  padding: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  height:350px;
  border: 0;
  }

/*nav*/
.rslides_tabs li
{
  list-style-type: none;
  float:right;
  text-align: center;
  margin-bottom:10px;
  margin-left: 20px;
  background:#F8F8F8;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:15px;
  padding-right:15px;
}

.rslides_tabs li:hover a
{
  background:#F8F8F8;
  color:blue;
}

.rslides_tabs li a
{
  text-decoration: none;
  color:black;
}
